<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button btn-dark"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Brands
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul
            *ngFor="let brand of brands"
            class="list-group"
            (click)="setCurrentBrand(brand)"
            routerLink="/cars/brand/{{ brand.brandID }}"
          >
            <li
              [class]="getCurrentBrandClass(brand)"
              class="list-group-item"
              aria-current="true"
            >
              {{ brand.brandName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button btn-dark collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Colors
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul
            *ngFor="let color of colors"
            class="list-group"
            (click)="setCurrentColor(color)"
            routerLink="/cars/color/{{ color.colorId }}"
          >
            <li
              [class]="getCurrentColorClass(color)"
              class="list-group-item"
              aria-current="true"
            >
              {{ color.colorName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p *ngIf="dataLoadedBrand == true">{{ currentBrand.brandID }}</p>
    <p *ngIf="dataLoadedColor == true">{{ currentColor.colorId }}</p>
    <button
    *ngIf="dataLoadedBrand== true && dataLoadedColor == true"
      style="float: right"
      type="button"
      class="btn btn-outline-secondary"
      routerLink="/cars/filter/brand/{{currentBrand.brandID}}/color/{{currentColor.colorId}}"
    >
      FİLTER
    </button>
  </div>
</div>
